.discover {
  margin-left: 250px;

  &__container {
  }

  &__content {
  }

  &__title {
    color: white;
    margin-bottom: 10px;
  }

  &__desc {
    color: #8f94a0;
    margin-bottom: 32px;
  }

  &__button {
    border: none;
    background: #1c212c;
    color: white;
    padding: 12px 12px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
  }

  &__trendings {
    margin-left: 6%;
  }

  &__playlists {
  }

  &__tops {
    display: flex;
  }
}
