.search {
  background: #2b2c3c;
  display: flex;
  align-items: center;

  &__input {
    border: none;
    padding: 12px;
    color: white;
    outline: none;
    background: #2b2c3c;
    min-width: 800px;
  }

  ::placeholder {
    color: #646363;
    display: none;
  }
}
