@import "../../variables.scss";
.search {
  display: flex;
  align-items: center;
  background: var(--main-screen-bg);
  &__input {
    border: none;
    padding: 22px;
    outline: none;
    background: var(--main-screen-bg);
    font-size: 17px;
    width: 900px;
    color: var(--input-color);
    &:hover {
    }
  }

  ion-icon {
    color: var(--icon-color);
    padding-left: 24px;
    font-size: 24px;
  }

  ::placeholder {
    color: var(--placeholder-color);
  }
}
