// $nav-bg: #151634;
$track-bg: #191a3a;
$selected-item-color: #c43069;
$artist-name-color: #222339;
$player-bg: rgb(159, 162, 207);
$main-screen-bg: #12132e;
$header-bottom-color: #252446;
$input-color: white;
$placeholder-color: #494969;

:root {
  --nav-bg: #151634;
  --nav-link-color: white;
  --main-screen-bg: #12132e;
  --input-color: white;
  --placeholder-color: #494969;
  --icon-color: white;
  --title-color: white;
  --arrow-icon-color: white;
  --artist-name-color: #3a3b4e;
  --track-bg-color: #191a3a;
  --track-name-color: white;
}

.light {
  --nav-bg: #f5f5f5;
  --main-screen-bg: #ffffff;
  --nav-link-color: black;
  --input-color: #e3e3e3;
  --placeholder-color: #494969;
  --icon-color: #bababa;
  --title-color: #3b3b3b;
  --arrow-icon-color: black;
  --artist-name-color: #616161;
  --track-bg-color: #f5f5f5;
  --track-name-color: black;
}
