@import "../../variables.scss";
.album {
  width: 200px;
  &__container {
    height: 100%;
    width: 100%;
  }
  &__cover {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 4px solid $header-bottom-color;
  }

  &__content {
    width: 200px;
  }

  &__link {
    text-decoration: none;
    display: inline-block;
  }

  &__title {
    margin-top: 6px;
    font-size: 15px;
    font-weight: 400;
    color: var(--title-color);
    height: 20px;
    margin-bottom: 6px;
    display: inline-block;

    &:hover {
      color: #8d63ee;
    }
  }

  &__artist {
    display: flex;
    align-items: center;
    &:hover {
      color: white;
    }
    &__pic {
      cursor: pointer;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 8px;
    }

    &__name {
      color: var(--artist-name-color);
      font-size: 13px;
      cursor: pointer;

      &:hover {
        color: #444343;
      }
    }
  }
}
